# Application
PORT=3000
BASE_URL=http://localhost:3000

# TypeORM
DB_SYNC=true #production false
ENTITIES_AUTO_LOADS=true #production false

# DataBase
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=db_calendar

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_URL_ACCOUNT='https://accounts.google.com/o/oauth2'
GOOGLE_URL_API='https://www.googleapis.com/oauth2/v1'
GOOGLE_CALLBACK_URL='http://localhost:3000/auth/callback'
GOOGLE_REDIRECT_URL='http://localhost:3000/auth/profile'
