PORT=3000
BASE_URL=http://localhost:3000
ENTITIES_AUTO_LOADS=true #production false

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=<databse-user>
DB_PASSWORD=<databse-password>
DB_NAME=db_calendar
DB_SYNC=false
